body {
  height: 3000px;
}
nav img {
  height:80px;
}

header {
  height: 600px;
  background-image: url('images/header.jpg');
  background-size: cover;
}

section h2 {
  font-size: 3rem;
}
section img {
  width: 300px;
}